
.item{
    font-size: 18px;
    color: #31393f;
    margin: 15px auto ;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    opacity: 0.8;
    border: outset 2px #7b99ff;
    border-radius: 5px;
    transition: all 0.5s ease 0s;
    background: #d8e7fc;
    transform: translateZ(0);
    cursor: pointer;
}

.item:hover{
    transform: scale(1.1);
    background: #a9bff8;
    opacity: 1;
}
.item:active{
    background: #6c90ff;
    filter: brightness(120%);
}
