/*.target{*/
/*    background: aliceblue;*/
/*    border-radius: 10px;*/
/*    visibility: hidden;*/
/*    position: absolute;*/
/*    opacity: 0;*/
/*    transition: all 0.5s ease 0s;*/
/*    transform: perspective(1800px) translate(50%, 0%) rotateY(90deg);*/
/*}*/

/*.target.active{*/
/*    opacity: 1;*/
/*    visibility: visible;*/
/*    transform: perspective(1800px) translate(0, 0) rotateY(0deg);*/
/*}*/

.wrap{
    position: absolute;
}

.listHead{
    color: #4166ff;
    font-family: Bahnschrift, serif;
    font-size: 20px;
    border-bottom: double 6px #7da8ff;
    padding-bottom: 10px;
}

.listFooter{
    color: #4166ff;
    font-family: Bahnschrift, serif;
    font-size: 20px;
    border-top: double 6px #7da8ff;
    padding-top: 10px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}


.button{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    opacity: 0.8;
    height: 75%;
    border-style: hidden;
    border-radius: 5px;
    margin: 0 0 10px 0;
}

.button.back{
    color: aliceblue;
    width: 30%;
    height: 30px;
    background: #578cfd;
}

.button.add{
    color: aliceblue;
    width: 30%;
    height: 30px;
    background: #34a843;
}

.button.delete{
    width: 30%;
    height: 30px;
    color: aliceblue;
    background: crimson;
}

.button:hover{
    opacity: 1;
}
.button:active{
    filter: brightness(120%);
}

::-webkit-scrollbar {
    width: 0;
}

.overflow{
    width: 500px;
    height: 650px;
    overflow: auto;
    overflow-y: paged-y;
}
