.App {
  text-align: center;
}

.h2{
  color: #282c34;
}

.img{
  margin-bottom: -2px;
  width: 25px;
  border: none;
}

.listHead{
  color: #4166ff;
  text-align: center;
  font-family: Bahnschrift, serif;
  font-size: 20px;
  border-bottom: double 5px #7da8ff;
  padding-bottom: 10px;
  margin: 10px 0 0 0;
}


.listFooter{
  color: #4166ff;
  text-align: center;
  font-family: Bahnschrift, serif;
  font-size: 20px;
  border-top: double 5px #7da8ff;
  padding-top: 10px;
  margin: 0 0 10px 0;
  }

.list{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: auto;
  width: 500px;
  height: 100%;
  background: rgba(241, 255, 255, 0.39);
  border: outset 10px #c3d8ff;
  border-radius: 25px;
}
::-webkit-scrollbar {
  width: 0;
}

.overflow{
  width: 500px;
  height: 650px;
  overflow: auto;
  overflow-y: paged-y;
}
