.App {
  position: fixed;
  margin-left: 35%;
  text-align: center;
}

.h2{
  color: #282c34;
}

.img{
  margin-bottom: -2px;
  width: 25px;
  border: none;
}

.list{
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: auto;
  width: 500px;
  height: 780px;
  background: aliceblue;
  border: outset 10px #c3d8ff;
  border-radius: 25px;
}


::-webkit-scrollbar {
  width: 0;
}
